<%= form_tag sessions_path do %>
  <div class='well'>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Ingresar", :class=>'btn btn-inverse' %></div>
  </div>
<% end %>