<%= form_for(@loan_detail) do |f| %>
  <% if @loan_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_detail.errors.count, "error") %> prohibited this loan_detail from being saved:</h2>

      <ul>
      <% @loan_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%=  f.hidden_field :estado, :value=>'Pagado' %>
  <div>
      <label for="" class="muted" style:"font-size:22px;">Monto a pagar:</label>  
      <%=f.text_field :montocuota , :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :fechavcuota %><br />
    <%= f.text_field :fechavcuota, :readonly=>true %>
  </div>
 
  <div class="field">
    <%= f.label "Fecha de Pago" %>
    <%= f.text_field :fechapago , :value=>Time.now.strftime("%d-%m-%Y"), :readonly=>true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
